.datagrid {
    background-color: #e1e1e1;
    position: relative;
    padding: 2rem 5rem 2rem 5rem;
    width: 90%;
    height: fit-content;
    display: block;
    margin-top: 1.1rem;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    text-align: left;
    color: #333;
    border-radius: 0.4rem;
}

.datagrid ul {
    list-style-type: none;
    margin-left: -3rem;
    display: block;
}

@media screen and (min-width: 321px) {
	.datagrid {
		width: 90%;
	}
}

@media screen and (min-width: 481px) {
	.datagrid {
		width: 90%;
	}

}
@media screen and (min-width: 601px) {
	.datagrid {
		width: 70%;
	}

}
@media screen and (min-width: 801px) {
	.datagrid {
		width: 70%;
	}
}

@media screen and (min-width: 1025px) {
	.datagrid {
		width: 30%;
	}
}

@media screen and (min-width: 1921px) {
	.datagrid {
		width: 20%;
	}
}