h1 {
  font-size: 1.4rem;
  color: #ecc238;
}

.App {
  text-align: center;
  background-color: #203337;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 62.5%;
  color: white;
}